.header {
    width: 925px;
    margin: 0 auto;
}

.links_block {
    background: #181818;
    background: -moz-linear-gradient(top, #181818 0%, #1d1d1d 7%, #1d1d1d 94%, #181818 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #181818 0%, #1d1d1d 7%, #1d1d1d 94%, #181818 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #181818 0%, #1d1d1d 7%, #1d1d1d 94%, #181818 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#181818', endColorstr='#181818', GradientType=0); /* IE6-9 */

    width: auto;
    padding: 11px 29px 11px;
    color: #545454;
}

.links_block a {
    font-size: 11px;
    font-family: Arial, serif;
    color: #545454;
    text-decoration: none;
}

.links_block a:hover {
    text-decoration: underline;
}

.header_content {
    background: rgb(63,63,63); /* Old browsers */
    background: -moz-radial-gradient(top, ellipse cover, rgba(63,63,63,1) 0%, rgba(36,36,36,1) 69%, rgba(36,36,36,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(at 200px 10px, rgba(63,63,63,1) 0%,rgba(36,36,36,1) 69%,rgba(36,36,36,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at 200px 10px, rgba(63,63,63,1) 0%,rgba(36,36,36,1) 69%,rgba(36,36,36,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#242424',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding: 40px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: solid 1px #424242;
}

.header_content:after {
    content: '';
    clear: both;
    display: block;
}

.logo_block {
    display: block;
    text-decoration: none;
    float: left;
    color: white;
    font-family: Arial, serif;
    width: 177px;
}

.logo {
    display: inline-block;
    font-size: 36px;
    margin-bottom: 14px;
}

.lorem {
    display: inline-block;
    font-size: 14px;
}

.search_block {
    float: right;
    text-align: right;
}

.search-block,
.search_block a {
    color: #747474;
    font-family: Arial, serif;
    font-size: 12px;
    letter-spacing: -0.05em;
}

.search {
    width: 390px;
    padding: 3px;
    background: #1d1d1d;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 5px;
    box-shadow: 1px 1px 0 #393939;
}

.search input[type="search"] {
    display: inline-block;
    border: none;
    height: 30px;
    outline: none;
    width: 332px;
    vertical-align: middle;
    padding-left: 9px;
    background: #1d1d1d;
    color: #747474;

}

.search input[type="submit"] {
    display: inline-block;
    width: 46px;
    height: 30px;
    border: 1px outset #b3b3b3;
    background: url(images/magnifier.png) no-repeat 50% 50% #9f9f9f;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    vertical-align: middle;
}

.search_block a {
    text-decoration: none;
    font-weight: bold;
}

.icon_arrow_right {
    vertical-align: middle;
    display: inline-block;
    width: 12px;
    height: 13px;
    background: url(images/arrow.png) no-repeat 50% 50%;
}

.menu_block {
    background: #2a7199;
    border-top: solid 1px #5891b1;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu:after {
    content: '';
    clear: both;
    display: block;
}

.menu li {
    float: left;
    width: 16.667%;
    border-right: solid 1px #558dab;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu li:hover {
    background: rgba(258, 258, 258, 0.5);
}

.menu a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    letter-spacing: -0.025em;
    color: #ffffff;
    font-family: Arial, serif;
    font-size: 16px;
}

.menu :last-child {
    border-right: none;
}

.active {
    background: #165070;
}

